<app-search (value)="searchByValue($event)" (searchEvent)="search($event)" [placeholder]="'buscar factura'" [startIn]="9"></app-search>

<button (click)="openAside()" class="btn btn-primary">
  Open Sidebar
</button>

<app-sidebar
  [open]="flagOpenAside"
  (close)="flagOpenAside = false"
></app-sidebar>
<br /><br />
<button (click)="showDialog = !showDialog" class="btn btn-secondary">will be true</button>
<router-outlet></router-outlet>
<app-confirm-dialog [(visible)]="showDialog">
  <h1>Hello World</h1>
  <button (click)="showDialog = !showDialog" class="btn">Closeeee</button>
</app-confirm-dialog>

<app-list></app-list>

<app-overlay></app-overlay>
