$margin-section: 5.1875rem;
$border-radius-options: 7px;
$width-aside: 53%;

.wrapper-modal-aside {
  position: fixed;
  z-index: 102;
  width: 100%;
  height: 100%;
  top: 0;
}

.aside {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  overflow-y: auto;
  background: white;
  color: black;
  box-shadow: 8px 0 40px 0 rgba(0, 0, 0, 0.59);

  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 1 !important;
  }

  main {
    .message {
      margin: 20px 15%;
      font-size: 14px;
    }
    margin: 10% 15%;
    font-size: 0.875rem;

    .title {
      margin: 0;
      display: inline-block;
      font-size: 1.75rem;
      position: relative;

      &:before {
        content: "";
        display: inline-block;
        background-repeat: no-repeat;
        position: absolute;
        top: 2px;
        left: -2rem;
        width: 16px;
        height: 24px;
      }
    }
  }
}

/* - - - ANIMACIONES - - - */

.animation-in {
  animation: animation-left-to-right;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.animation-out {
  animation: animation-right-to-left;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.opacity-in {
  animation: ocapacity-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.opacity-out {
  animation: ocapacity-out;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes animation-left-to-right {
  from {
    right: -$width-aside;
  }

  to {
    right: -100;
  }
}

@keyframes animation-right-to-left {
  from {
    right: 0;
  }

  to {
    right: -$width-aside;
  }
}

@keyframes ocapacity-in {
  from {
    background-color: transparent;
  }

  to {
    background-color: rgba(0, 0, 0, 0.3);//fondo tipo modal
  }
}

@keyframes ocapacity-out {
  from {
    background-color: rgba(0, 0, 0, 0.3);
  }

  to {
    background-color: transparent;
  }
}

@media (min-width: 1200px) {
  .aside main {
    font-size: 0.9rem !important;
  }
}

@media (max-width: 768px) {
  .aside {
    width: 100%;

    svg {
      width: 1rem;
    }

    main {
      margin: 3rem 3rem 0 3rem !important;

      .title {
        font-size: 1.3rem !important;
      }
    }
  }

  @keyframes animation-left-to-right {
    from {
      right: -100%;
    }

    to {
      right: 0;
    }
  }

  @keyframes animation-right-to-left {
    from {
      right: 0;
    }

    to {
      right: -100%;
    }
  }
}