.container{
    // box-shadow: 0 4px 10px 0 rgb(0, 0, 0 / 16%);
    margin: 30px;
}

.text-right{
    display: flex;
}
.colapso{
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
}