<div class="container">
  <div class="title pb-2">
    <div class="col-2 text-right" (click)="panel('toggleData')">
      <img
        src="https://mimovistarempresas.movistar.com.pe/assets/logo-enterprise.svg"
        alt="icon-arrow"
        data-toggle="panelData"
        id="toggleData"
      />
      <p>Banco de credito del peru</p>
    </div>
  </div>
  <div id="panelData" class="colapso">
    <div class="content detail pt-3">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
        temporibus error perspiciatis ratione, dignissimos dolore fugiat porro
        culpa tempora, voluptas quod saepe amet quas maxime est, iure
        consequatur ullam laborum necessitatibus. Alias eligendi corporis
        molestiae a quibusdam, recusandae est ut minima, iste excepturi deserunt
        nobis assumenda provident quia dolorem! Assumenda vel labore ipsa?
        Consequuntur iusto odit expedita, dolor officia omnis tenetur aperiam
        magnam, temporibus labore vel deleniti, aliquid distinctio recusandae
        delectus esse! Quos cupiditate quasi repudiandae earum saepe atque,
        dolor, sequi, illum dolores odio autem deserunt tempora nemo voluptates
        necessitatibus repellat totam doloremque? Numquam dicta delectus,
        maiores cupiditate modi error.
      </p>
    </div>
  </div>
</div>
